<launch>
  <node pkg="amcl" type="amcl" name="amcl">
    <!-- Load AMCL parameters -->
    <rosparam file="$(find tracer_navigation)/config/amcl_params.yaml" command="load" />
    
    <!-- Remap topics for Gazebo simulation -->
    <remap from="scan" to="/scan" />
    <remap from="odom" to="/odom" />
    <remap from="map" to="/map" />
  </node>
</launch>